<div class="flex items-center py-4">
    <!-- The left line -->
    <div class="flex-grow h-px bg-white"></div> 

    <!-- Your text here -->
    <span class="flex-shrink text-2xl font-black px-4 uppercase"><i class="fa-solid fa-envelope"></i> Contacte </span>

    <!-- The right line -->
    <div class="flex-grow h-px bg-white"></div>
</div>
<p class="pb-5 m-0 text-center">Pots contactar-nos enviant un correu electrònic a:<br> 
<a href="mailto:info@blasthardrock.com" title="correu electrònic">info@blasthardrock.com</a></p>